body {
  margin: 0;
  padding: 0;
  background-color: #222629;
  background-image: url("/static/images/milfordimage1.jpg");
  background-attachment: fixed;
  background-size: cover;
  font-family: verdana,arial,helvetica,sans-serif;
  font-size: 0.9em;
}

/** Head Area **/
header {
  margin: 0;
  padding: 1em;
}

header h1 {
  margin: 0 0 1em 0;
	padding: 0;
	font-size: 1.5em;
}

/* Header Navigation */
nav {
  margin: 0;
  padding: 0;
}

nav ul {
  margin: 0;
  padding: 0;
  display: flex;
}

nav ul li {
  margin: 0;
  padding: 0.5em;
  list-style: none;
  flex-grow: 0;
}

nav ul li a {
	padding: 0.5em;
  text-decoration: none;
	border-radius: 0.5em;
}

nav ul li a:link {
  color: #ffffff;
}

nav ul li a:visited {
  color: #ffffff;
}

nav ul li a:hover {
  color: #ffffff;
	background-color: #9ca2a6;
}


/** Main Content Area **/
main {
  margin: 2em 2em 2em 2em;
  padding: 1.5em;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 0 1em rgba(0,0,0,0.3);
  border-radius: 1em;
}

h1 {
  margin: 0;
  padding: 0 0 1em 0;
  color: #ffffff;
}

table {
  width: 100%;
}

th {
  text-align: left;
  color: black;
}

h2 {
	color: #ffffff;	
}
p {
	color: #ffffff;	
}

td {
	color: black;
}
.button {
  background-color: #9ca2a6;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  font-size: 14px;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 10px;
  text-decoration: none;
  border-radius: 20px;
}

.button:hover {
  background-color: #4a4948;
  text-decoration: none;	
}

.button:visited {
  text-decoration: none;	
}

img {
	margin: 3em 3em 2em 2em;
}
h4 {
	color: black;
}
.a:hover {
  opacity: 0.6;

}

#tracks {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr; /* Set the columns per row */
	grid-auto-rows: minmax(80px, auto);
}

.track {
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	margin: 1em;
}

.track h2 {
	position: absolute;
	bottom: 0;
	margin: 0;
	padding: 0;
	font-size: 0.8em;
	background-color: black;
	width: 100%;
}

.track ul {
	display: none;
	margin: 0;
	padding: 0;
	list-style: none;
}

.track:hover ul {
	display: block;
}