<!doctype html>
<html lang=”en” dir=”ltr”>
  <head>
    <meta charset=”UTF-8”>
    <title>My Application: {{ title }}</title>
    <meta name="keywords" content="">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='css/docform.css') }}">
  </head>
  
  <body>
    <header>
      <h1>{{ title }}</h1>
      <nav>
        <ul>
          <li><a href="/">Home</a></li>
          <li><a href="/athletes">Tracks</a></li>
		  <a href="/form" class="button">Form</a>
        </ul>
      </nav>
    </header>
    <main>
      {% block content %}{% endblock %}
    </main>
  </body>
</html>

