{% extends "index.html" %}
{% block content %}
     <article>
		<section>
			<h2>Welcome to Check the Track</h2>
			<h4>Take time to check the conditions before you go!</h4>
			      <table id="students">
					<tr>
					  <th>Track Name</th>
					  <th>Difficulty Level</th>
					  <th>Conditions to watch</th>
					  <th>Date</th>
					</tr>

				{% for track in tracks %}
					<tr>
					  <td>{{ track.trackname}}</td>
					  <td>{{ track.difficulty}}</td>
					  <td>{{ track.conditions}}</td>
					  <td>{{ track.date}}</td>
					</tr>
				{% endfor %}

				</table>
			
		  <center>
			  <img class='a' src='/static/images/milfordimage1.jpg' alt="My Image" width='425' height='210'>
			  <img class='a' src='/static/images/milfordimage2.jpg' alt="My Image" width='425' height='210'>
		  </center>
		  <center>
			  <img class='a' src='/static/images/arthurs.jpg' alt="My Image" width='425' height='210'>
			  <img class='a' src='/static/images/waterfall.jpg' alt="My Image" width='425' height='210'>
		  </center>
		</section>
		<section id="tracks">
			{% for track in tracks %}
				<div class="track" style="background-image: url('/static/images/{{ track.image}}'">
					
				  <h2>{{ track.trackname}}</h2>
				  <ul>
					  <li>{{ track.difficulty}}</li>
					  <li>{{ track.conditions}}</li>
					  <li>{{ track.date}}</li>
				  </ul>
				</div>
			{% endfor %}			
		</section>
	</article>
{% endblock %}


